<div class="card-item col">
    <div class="card hoverable">
      <div class="row g-0 align-items-center">
        {%- assign project_href = project.redirect | default: project.url | relative_url -%}
  
        {%- if project.img -%}
        <div class="card-img col-md-6">
          <a href="{{ project_href }}">
            {% include figure.html path=project.img alt="project thumbnail" %}
          </a>
        </div>
        <div class="col-md-6">
        {%- else -%}
        <div class="col-md-12">
        {%- endif -%}
  
          <div class="card-body">
            <h3 class="card-title">
              <a href="{{ project_href }}">{{ project.title }}</a>
            </h3>
  
            <p class="card-text">
              <a href="{{ project_href }}" style="color: inherit; text-decoration: none;">
                {{ project.description }}
              </a>
            </p>
  
            <div class="row ml-1 mr-1 p-0">
              {%- if project.github -%}
              <div class="github-icon">
                <div class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ project.github }}"><i class="fab fa-github gh-icon"></i></a>
                </div>
                {%- if project.github_stars -%}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fas fa-star"></i>
                  <span id="{{ project.github_stars }}-stars"></span>
                </span>
                {%- endif -%}
              </div>
              {%- endif -%}
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  