/*******************************************************************************
 * Themes
 ******************************************************************************/
 
@use "variables" as vars;

:root {
  --global-bg-color: #{vars.$white-color};
  --global-code-bg-color: #{vars.$code-bg-color-light};
  --global-code-color: #{vars.$black-color};
  --global-code-function-color: #{vars.$blue-color};
  --global-text-color: #{vars.$black-color};
  --global-unfocused-text-color: #{vars.$black-color};
  --global-text-color-light: #{vars.$grey-color};
  --global-theme-color: #{vars.$new-purple-color};
  --global-hover-color: #{vars.$new-purple-color};
  --global-navbar-text-color: #{vars.$black-color};
  --global-navbar-hover-color: #{vars.$new-purple-color};
  --global-navbar-theme-color: #{vars.$new-purple-color};
  --global-navbar-bg-color: #{vars.$white-color};
  --global-footer-bg-color: #{vars.$grey-color-dark};
  --global-footer-text-color: #{vars.$grey-color-light};
  --global-footer-link-color: #{vars.$white-color};
  --global-distill-app-color: #{vars.$grey-color};
  --global-divider-color: rgba(0,0,0,.1);
  --global-card-bg-color: #{vars.$white-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{vars.$blue-color-darker};
  --global-code-bg-color: #{vars.$code-bg-color-dark};
  --global-code-color: #{vars.$grey-color-light};
  --global-code-function-color: #{vars.$light-yellow-color};
  --global-text-color: #{vars.$grey-color-light};
  --global-unfocused-text-color: #{vars.$grey-color};
  --global-text-color-light: #{vars.$grey-color-light};
  --global-navbar-text-color: #{vars.$grey-color};
  --global-navbar-hover-color: #{vars.$new-cyan-color};
  --global-navbar-theme-color: #{vars.$new-cyan-color};
  --global-theme-color: #{vars.$new-cyan-color};
  --global-hover-color: #{vars.$new-cyan-color};
  --global-navbar-bg-color: #{vars.$blue-color-darker};
  --global-footer-bg-color: #{vars.$grey-color-light};
  --global-footer-text-color: #{vars.$grey-color-dark};
  --global-footer-link-color: #{vars.$black-color};
  --global-distill-app-color: #{vars.$grey-color-light};
  --global-divider-color: #424246;
  --global-card-bg-color: #{vars.$blue-color-darker-light};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
